.CTATChart {
    width: 400px;
    height: 300px;
}
.CTATChart .CTAT--cursor {
    fill: black;
    opacity: 0;
    pointer-events: none;
}
.CTATChart path.CTATChart--point {
    fill: black;
    /*stroke: transparent;*/
}
.CTATChart path.CTATChart--point.CTAT--hint {
    fill: yellow;
    /*stroke: rgba(255,50,50,0.6);*/
    fill-opacity: 0.7;
}
.CTATChart path.CTATChart--point.CTAT--incorrect {
    fill: red;
    /*stroke: rgba(255,50,50,0.6);*/
    fill-opacity: 0.7;
}
.CTATChart path.CTATChart--point.CTAT--correct {
    /*stroke: rgba(0,240,0,0.7);*/
    fill: limegreen;
    fill-opacity: 0.7;
}

.CTATChart path.CTATChart--out-of-bounds {
    fill: lightgrey;
    stroke: black;
    opacity: 0.8;
    stroke-width: 1;
}
.CTATChart path.CTATChart--out-of-bounds.CTAT--hint {
    stroke: yellow;
}
.CTATChart path.CTATChart--out-of-bounds.CTAT--incorrect {
    stroke: red;
}
.CTATChart path.CTATChart--out-of-bounds.CTAT--correct {
    stroke: limegreen;
}
/*.CTATChart--grid .tick {
    opacity: 0.1;
}*/

.CTATChart g.tick text {
    user-select: none;
}
