.CTATChart {
    width: 400px;
    height: 300px;
    flex: none;
}

.CTATNumericStepper {
    padding-right: 1em;
}
.chart {
    width: 510px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
    border: 1px solid darkgrey;
}
.top {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.axis-y {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1em;
}
.main {
    display: flex;
    flex-direction: row;
}
.bottom {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 90px;
}

/* Area containing the CTAT Hint components */
#hint-box {
    /*position: fixed;*/
    bottom: 10px;
    background-color: cornsilk;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 500px;
}
/* Fix spacing on CTAT buttons/hint window */
.CTATHintWindow--hint-content { padding-top: 5px; }
.CTATHintWindow {
    display: inline-flex;
    width: 100%;
}
.CTATHintButton {
    margin: 0 5px 5px 5px;
}
.CTATDoneButton {
    margin: 0 5px 0 5px
}
.CTATSubmitButton {
    margin-bottom: 10px;
    margin-left: 15px;
    margin-top: 18px;
}
.CTATSubmitButton>button.CTAT--correct::after {
    color: limegreen;
    content: " \2713";
}
.CTATSubmitButton>button.CTAT--incorrect::after {
    color: red;
    content: " \2717";
}

circle.CTATChart--point {
    fill: black;
    stroke-width: 0px;
    /*stroke: transparent;*/
}
circle.CTATChart--point.CTAT--incorrect {
    fill: red;
    /*stroke: rgba(255,50,50,0.6);*/
    fill-opacity: 0.7;
}
circle.CTATChart--point.CTAT--correct {
    /*stroke: rgba(0,240,0,0.7);*/
    fill: limegreen;
    fill-opacity: 0.7;
}

/*.CTATChart--grid .tick {
    opacity: 0.1;
}*/
